@import url('https://fonts.googleapis.com/css?family=Amita');
.carousel-card{
    background-color: white;
    width: 100%;
    height: 300px;
    margin-top: 75px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #e9eef7;
    overflow: hidden;
}
.header-wrapper{
    margin-top: 30px;
    height: 50px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #e9eef7;
}
.category-header{
    font-family: 'Amita';
    font-size: 25px;

}

.view-more{
    cursor: pointer;
    color: #007aff;
}
.product-card-wrapper{
    
}