@import url('https://fonts.googleapis.com/css?family=Amita');

.product-card{
    /* background-color: aqua; */
    width: 100%;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #e9eef7;
    height: 400px;
}

.product-discription{
    height: 25%;
    width: 100%;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.product-img{
    height: 75%;
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-name{
    font-size: 24px;
    font-family: 'Amita';
}

.product-rate{
    font-size: 24px;
    font-family: 'Amita';
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.07);
}
