@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css?family=Amita');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
.box{
    background-color: #fff;
    height: 650px;
    margin-top: 75px;
    border-radius: 20px;
    box-shadow: 8px 8px 5px #e9eef7;
    overflow: hidden;
}
.card-left{
    /* background-color: aqua; */
    height: 600px;
}
.card-right{
    background-color: #fff;
    height: 600px;
}
.logo-wrapper{
    margin-top: 60px;
}

.header{
    margin-top: 100px;
    font-size: 42px;
    font-family: 'Amita';
    width: 100%;
    text-align: center;
}

.header-reset{
    margin-top: 50px;
    font-size: 42px;
    font-family: 'Amita';
    width: 100%;
    text-align: center;
}

.input-fields-wrapper{
    padding: 40px 80px;
    height: 540px;
}
.field-wrapper{
    margin-bottom: 20px;
}
.field{
    width: 100%;
    font-size: 28px;
}

.signIn-btn{
    width: 190px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: #0a84ff;
}
.forgot-btn{
    width: 190px;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: #ff375f;
}
.signUp{
    width: 99%;
    text-align: end;
    color: blue;
}
