.OutPart{
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 100px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 8px 8px 5px #e9eef7;
}
.User-Detail{
    font-size: 24px;
    font-family: Arial;

}
.Edit{
    color: skyblue;
}
.Delete{
    color: red;
}
.Delete:hover{
    transform: scale(1.3);
}
.Edit:hover{
    transform: scale(1.3);
}
.btnAddProduct{
    width: 138px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    background-color: #0a84ff;
    margin: 7px;
}
.btnAddProduct:hover{
    transform: scale(1.07);
}

.MuiTabPanel-root{
    height: 500px;
    overflow: scroll;
}
.SearchBar{
    margin-top: 12px;
}
.btnSearch:hover{
    transform: scale(1.08);
}

